/* Tailwind Base, Components, Utilities */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Custom Variables */
  --foreground-light-rgb: 0, 0, 0;
  --background-start-light-rgb: 214, 219, 220;
  --background-end-light-rgb: 255, 255, 255;
  --foreground-dark-rgb: 255, 255, 255;
  --background-start-dark-rgb: 0, 0, 0;
  --background-end-dark-rgb: 0, 0, 0;

  /* Default to light mode */
  --foreground-rgb: var(--foreground-light-rgb);
  --background-start-rgb: var(--background-start-light-rgb);
  --background-end-rgb: var(--background-end-light-rgb);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: var(--foreground-dark-rgb);
    --background-start-rgb: var(--background-start-dark-rgb);
    --background-end-rgb: var(--background-end-dark-rgb);
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
